.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
#myCanvas, #snap {
  display: none; 
}
#videoElement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#theScreen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
  width: auto;

}

#photos img {
  /* Just in case there are inline attributes */
  width: 100%!important;
  height: auto !important;
}

.navbar-brand
{
position: absolute;
width: 100%;
left: 0;
top: 0;
text-align: center;
margin: auto;
padding:0px;
}

.navbar-toggle {
z-index:1;
}